.side_bar {
    width: 100%;
    background-color:  #757575;
    padding-bottom: 41.2%;
    margin-left: 4%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.side_bar h2 {
    padding-left: 37%;
    padding-top: 3%;
    color: #ececec;
    font-weight: bold;
}